<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Address</th>
        </tr>
    </thead>
    <tbody>
        {{#each halalRestaurants}}
            <tr>
                <td>{{name}}</td>
                <td>{{vicinity}}</td>
            </tr>
        {{/each}}
    </tbody>
</table>
